html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
}

header {
    background-image: url("images/DeathtoStock_Wired3.jpg");
    background-size:100%;
    width: 100%;
    height:605px;
    background-repeat: no-repeat;
}

.title {
    font-size: 96px;
}

header .container {
    margin-top: -80px;
}

.navbar-inverse {
    background-color: transparent;
}
